<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.newsletter.title}">Axon newsletter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.newsletter.greeting(${user.firstName}, ${user.lastName})}">
    Dear
</p>
<p th:text="#{email.newsletter.text1}">
    Axon NewsLetter
</p>
<p>
    <span th:text="#{email.newsletter.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Axon.</em>
</p>
</body>
</html>
